.obj-attr-title {
	font-weight: 600;
	color: black;
}

.form-label {
	padding-left: 20px;
}

.header {
	padding-bottom: 20px;
	padding-top: 20px;
}

.header-nav {
	background-color: black;
	color: white;
}

.lease-table-titles {
	padding: 0px 15px 15px 15px;
}

.lease-table-titles div {
	font-weight: bold;
	color: black;
	font-size: 16px;
}

.bold {
	font-weight: bold;
}

.align-center {
	text-align: center;
}

.basic-margin-10 {
	margin: 10px 10px 10px 10px;
}

.basic-padding-20 {
	padding: 20px 20px 20px 20px;
}

.basic-padding-10 {
	padding: 10px 10px 10px 10px;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: 2px;
	padding-right: 2px;
}

.opacity {
	opacity: 0.9;
}

/* Login */
.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

.login-background {
	background: url('../img/login-background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.login-box-background {
	background: rgba(255, 255, 255, 0.8);
	border: 0px;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-bottom-15 {
	padding-bottom: 15px;
}

.padding-top-15 {
	padding-top: 15px;
}

.detail-table-padding {
	padding-bottom: 15px;
}

.delete-table-row-button {
	width: 32px;
	height: 32px;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.15rem !important;
}

.x-button {
	font-size: 25px !important;
}

.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
}

.error-login-msg {
	color: red;
	padding-bottom: 15px;
}

.form-submit-button {
	min-width: 83px;
}

#apartment-table .form-check input {
	height: 30px;
	width: 30px;
}

#apartment-table .form-check input:checked {
  filter: grayscale(1);
}

#apartment-table td {
	text-align: center;
	vertical-align: middle;
}

.red-font {
	color: red;
}
